<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/app.css">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Reenie+Beanie&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title>Messages</title>
</head>

<body>
    <!--NavBar-->
    <nav class="navbar navbar-expand-md navbar-custom">
        <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item ">
                    <a class="nav-link" href="/">
                        <img src="/img/logo.png" style="height:40px;width:100px;" alt="">
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"></a>
                </li>
            </ul>
        </div>
        <div class="mx-auto order-0">
            <a class="navbar-brand mx-auto" href=""></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/msgs/new">New Msg</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/msgs">All Msgs</a>
                </li>
                <% if(!user){ %>
                <li class="nav-item">
                    <a class="nav-link" href="/login">Login</a>
                </li>
                <%}else{%>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Logout</a>
                </li>
                <% }%>
            </ul>
        </div>
    </nav>
    <div id="details">
        <div class="jumbotron" id="jumbo">
            <h1 class="display-4" class="tit"><%=found.title%></h1>
            <span class="tit"><%=found.created.toString().substring(0,21)%></span>
            <p id="content" class="lead"><%=found.body %></p>
            <div class="btn-group" role="group" aria-label="Basic example">
                <a href="/msgs/<%=found._id%>/edit" >
                    <button type="button" class="btn" id="btn1">Edit</button>
                </a>
                <form action="/msgs/<%=found._id%>?_method=DELETE" method="POST">
                    <button type="submit" class="btn" id="btn2">Delete</button>
                </form>
            </div>

        </div>
    </div>
</body>

</html>